#explanationModalContainer {
    position: absolute;
    width: 100%;
    top: 75px;
}

#explanationModal {
    position: relative;
    z-index: 4;
    display: none;
    border-radius: 25px;
    background-color: white;
    margin: auto;
    text-align: center;
    font-family: roboto;
    font-size: small;
    max-width: 500px;
    padding: 15px;
}

#infoicon {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 3;
    left: 135px;
    top: 15px;
    background-color: white;
    border-radius: 15px;
}

#mapContainer {
    height: 100%;
    width: 100%;
    min-width: 575px;
    margin: auto;
    position: relative;
}

#map {
    height: 100%;
    width: 100%;
}

#mapLoadingOverlay {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background: rgba(25, 25, 25, .5);
    display: none;
}

@keyframes play {
   from { background-position:    0px; }
     to { background-position: -696px; }
}

#mapLoadingImage {
    background-image: url('Bike_10.png');
    top: 50%;
    left: 50%;
    position: absolute;
    height: 104px;
    width: 87px;
    transform: translate(-50%, -50%) scale(2);
    animation: play 1s steps(8) infinite;
    margin-top: -70px;
}

/* Need to set line-height on this outer div */
#options {
    line-height: 50px;
    position: absolute;
    z-index: 2;
    bottom: 30px;
    width: 100%;
    pointer-events: none;
}
/* And set it back to normal here to vertically center */
.optionInlineBlock {
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}

#datepicker {
    padding: 5px;
    margin: 15px;
    font-size: large;
    position: absolute;
    width: 100px;
    z-index: 3;
    text-align: center;
    border-color: black;
    border-width: 1px;
    border-radius: 6px;
}

#ui-datepicker-div {
    z-index: 3 !important; /* The slider has z-index of 2, this needs to be on top */
}

#timeslider {
    margin-left: 50px;
    width: 50%;
    pointer-events: all;
    border-color: black;
}

#timeslider .ui-slider-handle {
    width: 90px;
    height: 30px;
    border-radius: 6px;
    margin-left: -45px;
    top: -9px;
    border-color: black;
    font-size: large;
}

#timeslider .ui-slider-handle.ui-state-active {
    background-color: #ededed;
}

#slideTimestamp {
    color: black;
    width: 100%;
    text-align: center;
    display: inline-block;
    padding-top: 5px;
}

#typepicker {
    margin-left: 50px;
    font-size: large;
    width: 90px;
    height: 30px;
    pointer-events: all;
    border-color: black;
}

#graphcontainer {
    width: 290px;
    height: 160px;
}

#graphloading {
    height: 160px;
    width: 160px;
    margin-left: 75px;
    display: none;
}

#overlayPreviousDaysLink {
    text-align: center;
}

#previousDayLoading {
    margin: -20px 0 -40px 0;
    height: 70px;
    width: 70px;
}

#header {
    background-color: rgba(255,255,255,0.9);
    border-radius: 6px;
    padding: 5px;
    margin-top: 15px;
    text-align: center;
    font-family: roboto;
    position: absolute;
    top: 0px;
    z-index: 3;
    right: 15px;
    pointer-events: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
